workflows/06_brand_config.json
{
  "name": "06 \u2014 Brand Config System (Master Registry)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-brand-config",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      },
      "id": "node_webhook_in",
      "name": "\ud83d\udd14 Webhook \u2014 Get Brand Config",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "notes": "Called by ALL other workflows. Send {genre, product_category, product_name} and receive full brand config back. This is the single source of truth for all brand settings."
    },
    {
      "parameters": {
        "jsCode": "\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// ABRO DIGITAL LLC \u2014 MASTER HOLDING COMPANY CONFIG\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// All brands operate as DBAs under this single legal entity.\n// Update placeholder values after formation is complete.\n\nconst holdingCompany = {\n  // \u2500\u2500 LEGAL \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  legal_name:       'Abro Digital LLC',\n  jurisdiction:     'Wyoming, USA',\n  structure:        'Single-member LLC',\n  ein:              'YOUR_EIN_HERE',               // Get on IRS call: +1-267-941-1099\n  registered_agent: 'Northwest Registered Agent',  // northwestregisteredagent.com\n  formation_date:   'YOUR_FORMATION_DATE',\n  annual_renewal:   'Wyoming \u2014 $60/year',\n\n  // \u2500\u2500 OWNER \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  owner: {\n    name:         'Maqsood Muhammad Mujtaba Abro',\n    location:     'Seri Kembangan, Malaysia',\n    timezone:     'Asia/Kuala_Lumpur',             // UTC+8\n    contact:      '3m.abro@gmail.com'\n  },\n\n  // \u2500\u2500 BANKING \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  banking: {\n    primary: {\n      bank:         'Mercury Bank',\n      type:         'Business Checking',\n      currency:     'USD',\n      routing:      'YOUR_MERCURY_ROUTING_NUMBER',\n      account:      'YOUR_MERCURY_ACCOUNT_NUMBER',\n      swift:        'MRCHUS33',\n      apply_at:     'mercury.com'\n    },\n    fx_transfer: {\n      provider:     'Airwallex',                   // Wise replacement \u2014 different system\n      purpose:      'USD \u2192 MYR/PKR conversion',\n      fees:         '~0.5% above mid-market',\n      apply_at:     'airwallex.com'\n    },\n    backup: {\n      provider:     'Payoneer',\n      purpose:      'Pakistani bank withdrawals',\n      apply_at:     'payoneer.com'\n    },\n    paypal_business: {\n      status:       'Secondary only',\n      purpose:      'Payhip transactions only',\n      rule:         'Withdraw immediately \u2014 never hold funds',\n      limit:        '$200 maximum balance at any time'\n    }\n  },\n\n  // \u2500\u2500 NEVER USE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  banned_providers: [\n    'Wise (personal or business) \u2014 passport permanently flagged',\n    'Personal PayPal \u2014 caused original Wise block',\n    'Any currency arbitrage patterns \u2014 receive USD, keep USD'\n  ],\n\n  // \u2500\u2500 PAYOUT ROUTING \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  payout_routing: {\n    etsy:     'Mercury Bank (direct deposit)',\n    gumroad:  'Mercury Bank (direct deposit)',\n    kdp:      'Mercury Bank (direct deposit)',\n    payhip:   'Mercury Bank or PayPal Business (secondary)',\n  },\n\n  // \u2500\u2500 WITHDRAWAL SCHEDULE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  withdrawal: {\n    frequency:          'monthly',\n    minimum_usd:        200,        // Don't withdraw less than this (fees not worth it)\n    preferred_route:    'Mercury \u2192 Airwallex \u2192 MYR (Malaysian account)',\n    backup_route:       'Mercury \u2192 Payoneer \u2192 PKR (Pakistani bank)',\n    large_amounts:      'Mercury \u2192 SWIFT wire \u2192 MCB/HBL Pakistan ($500+)',\n  },\n\n  // \u2500\u2500 BRANDS (DBAs) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  // No separate LLC needed per brand \u2014 all operate under this entity\n  brands_registered: ['ClearStack Studio', 'NurturePrint', 'PixelAura'],\n\n  // \u2500\u2500 TAX & COMPLIANCE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  tax: {\n    us_filings_required: ['Form 1120 (annually)', 'Form 5472 (annually)'],\n    penalty_if_missed:   '$25,000 per form per year \u2014 DO NOT SKIP',\n    recommended_cpa:     [\n      'Greenback Tax Services \u2014 greenbacktaxservices.com',\n      'Bright!Tax \u2014 brighttax.com',\n      'Taxes for Expats \u2014 taxesforexpats.com'\n    ],\n    estimated_cpa_cost:  '$300-500/year',\n    note:                'Income may qualify as non-ECI \u2014 potentially $0 US tax owed but filing still required'\n  },\n\n  // \u2500\u2500 MERCURY SUB-ACCOUNTS (create after Mercury approval) \u2500\u2500\u2500\n  mercury_sub_accounts: {\n    clearstack:    'ClearStack Studio',\n    nurturepint:   'NurturePrint',\n    pixelaura:     'PixelAura'\n  }\n};\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// HELPER: Get payout account for a brand\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nconst getPayoutAccount = (brandId) => {\n  return holdingCompany.mercury_sub_accounts[brandId] || 'Mercury Bank \u2014 Main';\n};\n\n// ============================================================\n// MASTER BRAND REGISTRY\n// Edit this node to update ANY brand setting system-wide\n// ============================================================\n\nconst BRANDS = {\n\n  clearstack: {\n    // \u2500\u2500 IDENTITY \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    brand_id: 'clearstack',\n    brand_name: 'ClearStack Studio',\n    brand_tagline: 'Tools that clear your mind and build your future.',\n    brand_email: 'hello@clearstackstudio.com',\n    brand_website: 'https://clearstackstudio.com',\n    status: 'ACTIVE', // ACTIVE | INACTIVE | COMING_SOON\n    launch_date: '2025-01-01',\n\n    // \u2500\u2500 GENRES COVERED \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    genres: [\n      'productivity',\n      'organization',\n      'business',\n      'entrepreneurship',\n      'templates',\n      'design',\n      'seasonal',\n      'holiday'\n    ],\n    primary_genre: 'productivity',\n\n    // \u2500\u2500 VISUAL IDENTITY \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    colors: {\n      primary: '#1B2A4A',      // Deep navy\n      secondary: '#FFFFFF',    // Clean white\n      accent: '#C9A84C',       // Warm gold\n      background: '#F8F9FC',   // Off-white\n      text: '#2D3748',         // Dark grey\n      muted: '#718096'         // Muted grey\n    },\n    fonts: {\n      heading: 'Inter',\n      body: 'Open Sans',\n      accent: 'Playfair Display'\n    },\n    logo_style: 'minimal geometric \u2014 clean lines, no gradients',\n    aesthetic: 'Clean, professional, structured. Think Notion meets Muji.',\n\n    // \u2500\u2500 BRAND VOICE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    voice: {\n      tone: 'professional_warm',\n      description: 'Like a successful entrepreneur friend who gives real, no-fluff advice. Direct but never cold. Occasionally witty. Respects the reader\\'s time. Uses short sentences when making a point. Expands when teaching.',\n      personality_traits: ['clear', 'focused', 'practical', 'encouraging', 'honest'],\n      writing_style: 'Active voice. Short paragraphs. Occasional bullet for clarity. No corporate speak. No AI buzzwords.',\n      forbidden_phrases: [\n        'game-changer', 'leverage', 'synergy', 'paradigm shift',\n        'crushing it', 'hustle hard', 'grind culture',\n        'passive income hack', '10x your', 'delve into'\n      ],\n      signature_phrases: [\n        'Built for the way you actually work.',\n        'Less clutter. More clarity.',\n        'Your system, simplified.',\n        'Designed to get out of your way.'\n      ]\n    },\n\n    // \u2500\u2500 TARGET AUDIENCE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    audience: {\n      primary: 'Solopreneurs, freelancers, and small business owners aged 25-45',\n      secondary: 'Students and professionals building side projects',\n      pain_points: [\n        'Overwhelmed by too many tools and systems',\n        'Struggling to stay organized while scaling',\n        'Need professional templates without hiring a designer',\n        'Want to look polished without spending hours on formatting'\n      ],\n      desires: [\n        'Clear systems that actually stick',\n        'Professional look without the price tag',\n        'More time for deep work',\n        'Templates they can adapt, not fight'\n      ]\n    },\n\n    // \u2500\u2500 SEO & KEYWORDS \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    seo: {\n      etsy_primary_keywords: [\n        'notion template', 'productivity planner', 'business template',\n        'canva template', 'project management template', 'weekly planner printable',\n        'content calendar template', 'invoice template', 'business planner',\n        'digital planner', 'social media planner', 'goal tracker'\n      ],\n      long_tail_keywords: [\n        'notion template for freelancers',\n        'small business budget template',\n        'content creator planner printable',\n        'client onboarding template canva',\n        'weekly review template notion'\n      ],\n      trending_tags: [\n        'notiontemplate', 'productivitytools', 'digitaltemplates',\n        'smallbusiness', 'freelancer', 'solopreneur', 'worksmarter'\n      ]\n    },\n\n    // \u2500\u2500 STORE CREDENTIALS \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    // SETUP: Replace all YOUR_* values with real credentials\n    stores: {\n      etsy: {\n        enabled: true,\n        shop_id: 'YOUR_CLEARSTACK_ETSY_SHOP_ID',\n        api_key: 'YOUR_CLEARSTACK_ETSY_API_KEY',\n        oauth_token: 'YOUR_CLEARSTACK_ETSY_OAUTH_TOKEN',\n        shop_url: 'https://www.etsy.com/shop/ClearStackStudio',\n        taxonomy_id: 2078,\n        shipping_profile_id: null\n      },\n      gumroad: {\n        enabled: true,\n        access_token: 'YOUR_CLEARSTACK_GUMROAD_TOKEN',\n        profile_url: 'https://clearstackstudio.gumroad.com'\n      },\n      payhip: {\n        enabled: true,\n        api_key: 'YOUR_CLEARSTACK_PAYHIP_KEY',\n        store_url: 'https://payhip.com/clearstackstudio'\n      },\n      woocommerce: {\n        enabled: false,           // \u2190 SET TO true WHEN READY (Phase 2)\n        phase: 2,                 // Planned for Phase 2 activation\n        url: 'https://clearstackstudio.com',\n        consumer_key: 'YOUR_WC_CONSUMER_KEY',       // WP Admin \u2192 WooCommerce \u2192 Settings \u2192 Advanced \u2192 REST API \u2192 Add Key\n        consumer_secret: 'YOUR_WC_CONSUMER_SECRET', // Generated alongside consumer_key\n        api_version: 'wc/v3',\n        \n        // WooCommerce store settings (configure before enabling)\n        store_settings: {\n          currency: 'USD',\n          download_type: 'standard',   // 'standard' for direct download\n          download_expiry: -1,         // -1 = never expire\n          download_limit: -1,          // -1 = unlimited downloads\n          virtual: true,               // Digital products = virtual\n          downloadable: true,\n          \n          // Email capture (requires WooCommerce + Mailchimp/ConvertKit plugin)\n          email_capture_enabled: true,\n          email_provider: 'mailchimp', // 'mailchimp' | 'convertkit' | 'klaviyo'\n          email_api_key: 'YOUR_EMAIL_PROVIDER_KEY',\n          email_list_id: 'YOUR_LIST_ID',\n          email_tag_on_purchase: 'clearstack-buyer'\n        },\n        \n        // Category IDs (set after creating categories in WP Admin)\n        category_ids: {\n          productivity: 'YOUR_WC_PRODUCTIVITY_CAT_ID',\n          business: 'YOUR_WC_BUSINESS_CAT_ID',\n          templates: 'YOUR_WC_TEMPLATES_CAT_ID',\n          planners: 'YOUR_WC_PLANNERS_CAT_ID',\n          seasonal: 'YOUR_WC_SEASONAL_CAT_ID'\n        },\n        \n        // Pricing strategy (WooCommerce allows more flexibility)\n        pricing_strategy: {\n          show_compare_at_price: true,   // Strike-through original price\n          bundle_discount_pct: 30,       // 30% off when buying bundles\n          email_subscriber_discount: 15, // 15% off for email list\n          enable_coupons: true\n        },\n        \n        // Upsell / cross-sell automation\n        upsells: {\n          enabled: true,\n          // After checkout: suggest related products\n          // Configured per product during WC publish\n        },\n        \n        // WooCommerce plugins needed before enabling:\n        required_plugins: [\n          'woocommerce',                    // Core (free)\n          'woocommerce-pdf-invoices',       // Auto invoices (free)\n          'mailchimp-for-woocommerce',      // Email capture (free)\n          'woo-variation-swatches',         // Better product options UI (free)\n          'woocommerce-subscriptions'       // If adding membership tier later (paid)\n        ]\n      }\n    },\n\n    // \u2500\u2500 MANYCHAT (PHASE 2) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n      // SETUP: Fill credentials and set enabled: true when ready\n      // Blueprint: MANYCHAT_PHASE2_BLUEPRINT.md\n      manychat: {\n        enabled: false,             // \u2190 SET true IN PHASE 2 (50+ followers)\n        access_token: 'YOUR_MANYCHAT_PAGE_TOKEN',\n        ig_page_id: 'YOUR_CLEARSTACK_IG_PAGE_ID',\n        fb_page_id: 'YOUR_CLEARSTACK_FB_PAGE_ID',\n\n        trigger_keywords: {\n          product_link:  ['TEMPLATE', 'LINK', 'SEND IT', 'YES', 'INTERESTED'],\n          lead_magnet:   ['FREE', 'FREEBIE', 'CHECKLIST', 'PLANNER'],\n          welcome:       ['HI', 'HELLO', 'HEY']\n        },\n\n        flows: {\n          comment_to_link:         'YOUR_MANYCHAT_FLOW_ID_COMMENT_LINK',\n          story_reply:             'YOUR_MANYCHAT_FLOW_ID_STORY',\n          welcome_new_follower:    'YOUR_MANYCHAT_FLOW_ID_WELCOME',\n          lead_magnet_delivery:    'YOUR_MANYCHAT_FLOW_ID_FREEBIE'\n        },\n\n        lead_magnet_url: 'https://clearstackstudio.com/free',\n        plan: 'free'                // 'free' (1k contacts) | 'pro' ($15/mo)\n      },\n\n      // \u2500\u2500 SOCIAL ACCOUNTS \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    // SETUP: Replace all YOUR_* values with real IDs\n    social: {\n      instagram: {\n        enabled: true,\n        username: '@clearstackstudio',\n        user_id: 'YOUR_CLEARSTACK_IG_USER_ID',\n        access_token: 'YOUR_CLEARSTACK_IG_TOKEN',\n        posting_times: ['09:00', '17:00'],\n        content_ratio: '60% educational, 30% product, 10% behind-scenes'\n      },\n      facebook: {\n        enabled: true,\n        page_name: 'ClearStack Studio',\n        page_id: 'YOUR_CLEARSTACK_FB_PAGE_ID',\n        access_token: 'YOUR_CLEARSTACK_FB_TOKEN',\n        posting_times: ['10:00', '19:00']\n      },\n      tiktok: {\n        enabled: true,\n        username: '@clearstackstudio',\n        access_token: 'YOUR_CLEARSTACK_TIKTOK_TOKEN',\n        content_style: 'Quick tips, template walkthroughs, before/after organization'\n      },\n      pinterest: {\n        enabled: true,\n        username: 'clearstackstudio',\n        access_token: 'YOUR_CLEARSTACK_PINTEREST_TOKEN',\n        board_ids: {\n          productivity: 'YOUR_CLEARSTACK_PRODUCTIVITY_BOARD_ID',\n          business: 'YOUR_CLEARSTACK_BUSINESS_BOARD_ID',\n          templates: 'YOUR_CLEARSTACK_TEMPLATES_BOARD_ID',\n          seasonal: 'YOUR_CLEARSTACK_SEASONAL_BOARD_ID'\n        },\n        posting_frequency: '5-10 pins per day'\n      },\n      youtube: {\n        enabled: true,\n        channel_name: 'ClearStack Studio',\n        oauth_token: 'YOUR_CLEARSTACK_YT_TOKEN',\n        content_style: 'Shorts: template tours, productivity tips, how-to walkthroughs'\n      }\n    },\n\n    // \u2500\u2500 HALAL CONTENT GUARDRAILS \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    halal: {\n      enabled: true,\n      strict_mode: true,\n      prohibited_content: [\n        'alcohol', 'gambling', 'interest-based finance (riba)',\n        'adult/sexual content', 'pork products', 'lottery',\n        'astrology as belief system', 'music promotion (ambiguous - flag for review)',\n        'immodest imagery', 'horror/occult themes',\n        'cryptocurrency speculation', 'predatory lending',\n        'violence glorification', 'dating/relationship apps'\n      ],\n      permitted_finance_topics: [\n        'halal investing', 'savings goals', 'debt-free journey',\n        'budgeting', 'business planning', 'zakah calculation',\n        'ethical business', 'side income halal'\n      ],\n      review_flagged_topics: [\n        'music', 'entertainment', 'fashion (check modesty)',\n        'social media strategy (check content type)'\n      ],\n      content_note: 'When in doubt, flag for human review rather than auto-publish'\n    },\n\n    // \u2500\u2500 PRICING STRATEGY \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    pricing: {\n      printables: { min: 3.99, max: 12.99, sweet_spot: 7.99 },\n      templates_single: { min: 7.99, max: 24.99, sweet_spot: 14.99 },\n      templates_bundle: { min: 19.99, max: 49.99, sweet_spot: 29.99 },\n      ebooks_short: { min: 5.99, max: 14.99, sweet_spot: 9.99 },\n      ebooks_full: { min: 12.99, max: 34.99, sweet_spot: 19.99 },\n      notion_templates: { min: 9.99, max: 39.99, sweet_spot: 17.99 }\n    },\n\n    // \u2500\u2500 PRODUCT CREATION SETTINGS \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n    creation: {\n      image_style: 'Clean mockups on white/light grey backgrounds. Flat lay style. Device mockups for digital products.',\n      color_usage: 'Navy dominant, gold accents, white space. No busy backgrounds.',\n      font_pairing: 'Inter for headings, Open Sans for body',\n      sd_style_suffix: ', clean minimal design, navy and gold color scheme, professional mockup, white background, high resolution, commercial photography style',\n      canva_brand_kit: 'Use navy #1B2A4A, gold #C9A84C, white #FFFFFF consistently'\n    }\n  },\n\n  // \u2500\u2500 BRAND 2: NURTUREPRINT (configured but inactive) \u2500\u2500\u2500\u2500\n  nurtureprint: {\n    brand_id: 'nurtureprint',\n    brand_name: 'NurturePrint Co.',\n    brand_tagline: 'Gentle tools for a grounded life.',\n    status: 'COMING_SOON',\n    genres: ['wellness', 'mindfulness', 'finance', 'budgeting', 'education', 'learning'],\n    primary_genre: 'wellness',\n    colors: {\n      primary: '#4A7C59',\n      secondary: '#F5F0E8',\n      accent: '#C17F4A',\n      background: '#FDFAF5',\n      text: '#2C3E2D',\n      muted: '#8B9E8C'\n    },\n    voice: {\n      tone: 'trustworthy_empathetic',\n      description: 'Like a calm, knowledgeable friend who genuinely cares. Warm but grounded. Never preachy. Acknowledges struggle without dwelling on it. Islamic-values-aligned naturally.'\n    },\n    halal: { enabled: true, strict_mode: true },\n    stores: {\n      etsy: { enabled: false, shop_id: 'YOUR_NURTUREPRINT_ETSY_SHOP_ID' },\n      gumroad: { enabled: false, access_token: 'YOUR_NURTUREPRINT_GUMROAD_TOKEN' },\n      payhip: { enabled: false, api_key: 'YOUR_NURTUREPRINT_PAYHIP_KEY' }\n    },\n    social: {\n      instagram: { enabled: false, user_id: 'YOUR_NURTUREPRINT_IG_ID' },\n      facebook: { enabled: false, page_id: 'YOUR_NURTUREPRINT_FB_ID' },\n      pinterest: { enabled: false, access_token: 'YOUR_NURTUREPRINT_PINTEREST_TOKEN' },\n      tiktok: { enabled: false },\n      youtube: { enabled: false }\n    }\n  },\n\n  // \u2500\u2500 BRAND 3: PIXELAURA (configured but inactive) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  pixelaura: {\n    brand_id: 'pixelaura',\n    brand_name: 'PixelAura Studio',\n    brand_tagline: 'AI art with soul.',\n    status: 'COMING_SOON',\n    genres: ['ai_art', 'aesthetics', 'design', 'seasonal'],\n    primary_genre: 'ai_art',\n    colors: {\n      primary: '#1A1035',\n      secondary: '#E8D5FF',\n      accent: '#C9A84C',\n      background: '#0D0B1A',\n      text: '#F0EAF8',\n      muted: '#8B7AA8'\n    },\n    voice: {\n      tone: 'creative_expressive',\n      description: 'Artistic, evocative, slightly poetic. Makes people feel something. Not pretentious \u2014 accessible and genuine. Passionate about beauty.'\n    },\n    halal: { enabled: true, strict_mode: true },\n    stores: {\n      etsy: { enabled: false, shop_id: 'YOUR_PIXELAURA_ETSY_SHOP_ID' },\n      gumroad: { enabled: false, access_token: 'YOUR_PIXELAURA_GUMROAD_TOKEN' },\n      payhip: { enabled: false, api_key: 'YOUR_PIXELAURA_PAYHIP_KEY' }\n    },\n    social: {\n      instagram: { enabled: false, user_id: 'YOUR_PIXELAURA_IG_ID' },\n      facebook: { enabled: false, page_id: 'YOUR_PIXELAURA_FB_ID' },\n      pinterest: { enabled: false, access_token: 'YOUR_PIXELAURA_PINTEREST_TOKEN' },\n      tiktok: { enabled: false },\n      youtube: { enabled: false }\n    }\n  }\n};\n\n// \u2500\u2500 GENRE \u2192 BRAND ROUTING TABLE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst GENRE_ROUTING = {\n  // ClearStack\n  'productivity': 'clearstack',\n  'organization': 'clearstack',\n  'business': 'clearstack',\n  'entrepreneurship': 'clearstack',\n  'templates': 'clearstack',\n  'design templates': 'clearstack',\n  'creative templates': 'clearstack',\n  'seasonal': 'clearstack',\n  'holiday': 'clearstack',\n  'canva': 'clearstack',\n  'notion': 'clearstack',\n  'planner': 'clearstack',\n  'social media': 'clearstack',\n  // NurturePrint\n  'wellness': 'nurtureprint',\n  'mindfulness': 'nurtureprint',\n  'finance': 'nurtureprint',\n  'budgeting': 'nurtureprint',\n  'education': 'nurtureprint',\n  'learning': 'nurtureprint',\n  'self care': 'nurtureprint',\n  'journal': 'nurtureprint',\n  'affirmation': 'nurtureprint',\n  'halal finance': 'nurtureprint',\n  // PixelAura\n  'ai art': 'pixelaura',\n  'aesthetics': 'pixelaura',\n  'art pack': 'pixelaura',\n  'digital art': 'pixelaura',\n  'wallpaper': 'pixelaura',\n  'illustration': 'pixelaura',\n  'printable art': 'pixelaura'\n};\n\n// \u2500\u2500 RESOLVE BRAND FROM REQUEST \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst body = $input.first().json.body || $input.first().json;\nconst requestedGenre = (body.genre || body.product_category || '').toLowerCase();\nconst requestedBrandId = body.brand_id || null;\nconst productName = (body.product_name || '').toLowerCase();\n\n// Find brand by explicit ID or by genre matching\nlet resolvedBrandId = requestedBrandId;\n\nif (!resolvedBrandId) {\n  // Try exact genre match\n  resolvedBrandId = GENRE_ROUTING[requestedGenre];\n  \n  // Try partial match if no exact match\n  if (!resolvedBrandId) {\n    for (const [key, brandId] of Object.entries(GENRE_ROUTING)) {\n      if (requestedGenre.includes(key) || key.includes(requestedGenre) ||\n          productName.includes(key)) {\n        resolvedBrandId = brandId;\n        break;\n      }\n    }\n  }\n  \n  // Default to clearstack (active brand) if still not resolved\n  if (!resolvedBrandId) resolvedBrandId = 'clearstack';\n}\n\nconst brand = BRANDS[resolvedBrandId];\n\nif (!brand) {\n  return [{ json: {\n    error: true,\n    message: `Brand '${resolvedBrandId}' not found`,\n    available_brands: Object.keys(BRANDS)\n  }}];\n}\n\n// Check if brand is active\nif (brand.status !== 'ACTIVE') {\n  return [{ json: {\n    error: false,\n    warning: true,\n    message: `Brand '${brand.brand_name}' is ${brand.status}. Routing to ClearStack Studio instead.`,\n    brand: BRANDS['clearstack'],\n    original_request: body,\n    routed_from: resolvedBrandId,\n    routed_to: 'clearstack'\n  }}];\n}\n\nreturn [{ json: {\n  error: false,\n  brand: brand,\n  resolved_brand_id: resolvedBrandId,\n  genre_matched: requestedGenre,\n  original_request: body,\n  config_version: '1.0',\n  resolved_at: new Date().toISOString()\n}}];"
      },
      "id": "node_brand_registry",
      "name": "\u2699\ufe0f Brand Registry + Genre Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        400
      ],
      "notes": "THE MASTER CONFIG NODE. Contains all brand settings for all 3 brands. Edit this single node to update anything system-wide. Genre routing table maps product categories to the correct brand automatically."
    },
    {
      "parameters": {
        "jsCode": "// Validate the resolved brand config before returning\nconst result = $input.first().json;\n\nif (result.error) {\n  return [{ json: { ...result, validated: false } }];\n}\n\nconst brand = result.brand;\nconst issues = [];\nconst warnings = [];\n\n// Check store credentials\nfor (const [storeName, store] of Object.entries(brand.stores || {})) {\n  if (store.enabled) {\n    const fields = Object.entries(store);\n    for (const [key, val] of fields) {\n      if (typeof val === 'string' && val.startsWith('YOUR_')) {\n        issues.push(`${storeName}.${key} not configured`);\n      }\n    }\n  }\n}\n\n// Check social credentials\nfor (const [platformName, platform] of Object.entries(brand.social || {})) {\n  if (platform.enabled) {\n    const fields = Object.entries(platform);\n    for (const [key, val] of fields) {\n      if (typeof val === 'string' && val.startsWith('YOUR_')) {\n        warnings.push(`${platformName}.${key} not configured \u2014 will skip this platform`);\n      }\n    }\n  }\n}\n\n// Build enabled stores list (only ones with real credentials)\nconst enabledStores = Object.entries(brand.stores || {})\n  .filter(([name, store]) => {\n    if (!store.enabled) return false;\n    const hasUnconfigured = Object.values(store)\n      .some(v => typeof v === 'string' && v.startsWith('YOUR_'));\n    return !hasUnconfigured;\n  })\n  .map(([name]) => name);\n\n// Build enabled social list\nconst enabledSocial = Object.entries(brand.social || {})\n  .filter(([name, platform]) => {\n    if (!platform.enabled) return false;\n    const hasUnconfigured = Object.values(platform)\n      .some(v => typeof v === 'string' && v.startsWith('YOUR_'));\n    return !hasUnconfigured;\n  })\n  .map(([name]) => name);\n\nreturn [{ json: {\n  ...result,\n  validated: true,\n  config_issues: issues,\n  config_warnings: warnings,\n  enabled_stores: enabledStores,\n  enabled_social: enabledSocial,\n  ready_to_use: issues.length === 0\n}}];"
      },
      "id": "node_validate_config",
      "name": "\ud83d\udd0d Validate Brand Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        400
      ],
      "notes": "Scans all credentials for unconfigured YOUR_* placeholders. Reports which stores and social platforms are actually ready. Prevents publishing to unconfigured stores."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "YOUR_GOOGLE_SHEET_ID_HERE"
        },
        "sheetName": {
          "value": "Brand_Config_Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toISOString() }}",
            "Brand_Resolved": "={{ $json.resolved_brand_id }}",
            "Genre_Requested": "={{ $json.genre_matched }}",
            "Enabled_Stores": "={{ $json.enabled_stores?.join(', ') }}",
            "Enabled_Social": "={{ $json.enabled_social?.join(', ') }}",
            "Config_Issues": "={{ $json.config_issues?.join(' | ') }}",
            "Ready": "={{ $json.ready_to_use }}"
          }
        },
        "options": {}
      },
      "id": "node_log_config",
      "name": "\ud83d\udcca Log Brand Resolution",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1000,
        400
      ],
      "notes": "Logs every brand config lookup. Useful for debugging routing issues and tracking which brand is being used most."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "node_respond",
      "name": "\ud83d\udce4 Return Brand Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1260,
        400
      ],
      "notes": "Returns the complete brand config to whichever workflow called this. The calling workflow then uses brand.stores, brand.social, brand.voice, etc."
    }
  ],
  "connections": {
    "\ud83d\udd14 Webhook \u2014 Get Brand Config": {
      "main": [
        [
          {
            "node": "\u2699\ufe0f Brand Registry + Genre Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u2699\ufe0f Brand Registry + Genre Router": {
      "main": [
        [
          {
            "node": "\ud83d\udd0d Validate Brand Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udd0d Validate Brand Config": {
      "main": [
        [
          {
            "node": "\ud83d\udcca Log Brand Resolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcca Log Brand Resolution": {
      "main": [
        [
          {
            "node": "\ud83d\udce4 Return Brand Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": {
    "description": "Workflow 06: Master Brand Config System. Single source of truth for all 3 brand settings. Called by every other workflow via webhook. Contains brand identity, store credentials, social account IDs, halal guardrails, SEO keywords, pricing strategy, and voice profiles. Genre routing table automatically maps product categories to the correct brand."
  }
}