workflows/10B_wp_health_monitor.json
{
  "name": "10B — WordPress Health Monitor (Daily Digest)",
  "nodes": [

    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 24 }] }
      },
      "id": "node_trigger",
      "name": "⏰ Daily Health Check (6 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 400],
      "notes": "Runs every morning at 6 AM. Checks uptime, plugin updates, broken links, post count growth. Sends you one clean digest email. Never auto-changes anything — alerts only."
    },

    {
      "parameters": {
        "method": "GET",
        "url": "https://clearstackstudio.com",
        "options": { "timeout": 15000, "redirect": { "redirect": { "followRedirects": true } } }
      },
      "id": "node_uptime_check",
      "name": "🌐 Check Site Uptime",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 200],
      "notes": "Simple GET request to homepage. If it fails or returns non-200, site is down. Timeout 15s. Runs in parallel with all other checks."
    },

    {
      "parameters": {
        "method": "GET",
        "url": "https://clearstackstudio.com/wp-json/wp/v2/plugins",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Basic YOUR_WP_BASE64_AUTH" }]
        },
        "options": { "timeout": 15000 }
      },
      "id": "node_plugin_check",
      "name": "🔌 Check Plugin Updates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 380],
      "notes": "Fetches plugin list via WP REST API. Requires 'plugins' REST route enabled — needs admin-level Application Password. Returns plugin name, version, update status."
    },

    {
      "parameters": {
        "method": "GET",
        "url": "https://clearstackstudio.com/wp-json/wp/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Basic YOUR_WP_BASE64_AUTH" }]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "per_page", "value": "1" },
            { "name": "status", "value": "publish" }
          ]
        },
        "options": {}
      },
      "id": "node_post_stats",
      "name": "📊 Check Post Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 540],
      "notes": "Gets total post count from X-WP-Total header. Tracks blog growth over time."
    },

    {
      "parameters": {
        "method": "GET",
        "url": "https://clearstackstudio.com/wp-json/wp/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Basic YOUR_WP_BASE64_AUTH" }]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "per_page", "value": "20" },
            { "name": "status", "value": "publish" },
            { "name": "orderby", "value": "date" },
            { "name": "order", "value": "desc" }
          ]
        },
        "options": {}
      },
      "id": "node_recent_posts",
      "name": "📝 Fetch Recent Posts for Link Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 700],
      "notes": "Fetches last 20 posts to scan for broken internal links. Checks that all internal hrefs resolve."
    },

    {
      "parameters": {
        "jsCode": "// Aggregate all health check results\nconst uptimeResult = $('🌐 Check Site Uptime').first();\nconst pluginResult = $('🔌 Check Plugin Updates').first();\nconst postStatsResult = $('📊 Check Post Stats').first();\nconst recentPostsResult = $('📝 Fetch Recent Posts for Link Check').all();\n\n// ── UPTIME ──────────────────────────────────────────────\nconst siteUp = uptimeResult.json.$response?.statusCode === 200 || \n               uptimeResult.json.statusCode === 200;\nconst uptimeStatus = siteUp ? '✅ ONLINE' : '🚨 DOWN';\nconst responseTime = uptimeResult.json.$response?.headers?.['x-response-time'] || 'N/A';\n\n// ── PLUGINS ─────────────────────────────────────────────\nconst plugins = Array.isArray(pluginResult.json) ? pluginResult.json : [];\nconst pluginsNeedingUpdate = plugins.filter(p => p.update?.response?.id || p.new_version);\nconst activePlugins = plugins.filter(p => p.status === 'active');\n\n// ── POST COUNT ──────────────────────────────────────────\nconst totalPosts = postStatsResult.json.$response?.headers?.['x-wp-total'] || \n                   postStatsResult.json.headers?.['x-wp-total'] || 'N/A';\n\n// ── RECENT POST LINK CHECK ──────────────────────────────\nconst recentPosts = recentPostsResult.map(i => i.json);\nconst postsWithNoInternalLinks = recentPosts.filter(p => {\n  const content = p.content?.rendered || '';\n  const internalLinks = (content.match(/href=\"https?:\\/\\/clearstackstudio\\.com[^\"]*\"/g) || []).length;\n  return internalLinks === 0;\n}).map(p => p.title?.rendered || 'Untitled');\n\n// ── WORDPRESS CORE ──────────────────────────────────────\n// Check if WP core update available via plugin endpoint response headers\nconst wpVersion = plugins[0]?.requires_wp || 'Unknown';\n\n// ── HEALTH SCORE ────────────────────────────────────────\nlet score = 100;\nif (!siteUp) score -= 50;\nif (pluginsNeedingUpdate.length > 0) score -= (pluginsNeedingUpdate.length * 5);\nif (postsWithNoInternalLinks.length > 3) score -= 10;\nconst healthGrade = score >= 90 ? 'A' : score >= 75 ? 'B' : score >= 60 ? 'C' : 'D';\n\nconst report = {\n  timestamp: new Date().toISOString(),\n  date: new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }),\n\n  uptime: {\n    status: uptimeStatus,\n    online: siteUp,\n    response_time: responseTime\n  },\n\n  plugins: {\n    total_active: activePlugins.length,\n    updates_needed: pluginsNeedingUpdate.length,\n    plugins_to_update: pluginsNeedingUpdate.map(p => ({\n      name: p.name || p.plugin,\n      current_version: p.version,\n      new_version: p.new_version\n    }))\n  },\n\n  content: {\n    total_published_posts: totalPosts,\n    recent_posts_checked: recentPosts.length,\n    posts_missing_internal_links: postsWithNoInternalLinks.length,\n    posts_missing_links_titles: postsWithNoInternalLinks.slice(0, 5)\n  },\n\n  health: {\n    score: score,\n    grade: healthGrade,\n    alerts: [\n      !siteUp ? '🚨 CRITICAL: Site appears to be DOWN' : null,\n      pluginsNeedingUpdate.length > 0 ? `⚠️ ${pluginsNeedingUpdate.length} plugin(s) need updating` : null,\n      pluginsNeedingUpdate.length > 3 ? '⚠️ Many outdated plugins = security risk' : null,\n      postsWithNoInternalLinks.length > 3 ? `📝 ${postsWithNoInternalLinks.length} recent posts have no internal links` : null\n    ].filter(Boolean)\n  }\n};\n\nreturn [{ json: report }];"
      },
      "id": "node_aggregate",
      "name": "⚙️ Aggregate All Health Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 450]
    },

    {
      "parameters": {
        "operation": "append",
        "documentId": { "value": "YOUR_GOOGLE_SHEET_ID_HERE" },
        "sheetName": { "value": "WP_Health_Log" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "Site_Status": "={{ $json.uptime.status }}",
            "Health_Score": "={{ $json.health.score }}",
            "Health_Grade": "={{ $json.health.grade }}",
            "Active_Plugins": "={{ $json.plugins.total_active }}",
            "Plugin_Updates_Needed": "={{ $json.plugins.updates_needed }}",
            "Plugins_To_Update": "={{ ($json.plugins.plugins_to_update || []).map(p => p.name).join(', ') }}",
            "Total_Posts": "={{ $json.content.total_published_posts }}",
            "Posts_Missing_Links": "={{ $json.content.posts_missing_internal_links }}",
            "Alerts": "={{ $json.health.alerts.join(' | ') }}"
          }
        },
        "options": {}
      },
      "id": "node_log_health",
      "name": "📊 Log to WP_Health_Log Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1020, 300],
      "notes": "Logs daily health snapshot. Lets you track trends: post growth, plugin debt accumulating, health score over time."
    },

    {
      "parameters": {
        "jsCode": "// Build the HTML email digest\nconst r = $input.first().json;\n\nconst alertsHtml = r.health.alerts.length > 0\n  ? r.health.alerts.map(a => `<div style=\"background:#FFF3CD;border-left:4px solid #FFC107;padding:12px 16px;margin:8px 0;border-radius:0 6px 6px 0;font-size:14px;\">${a}</div>`).join('')\n  : '<div style=\"background:#D4EDDA;border-left:4px solid #28A745;padding:12px 16px;border-radius:0 6px 6px 0;font-size:14px;\">✅ No alerts — everything looks good!</div>';\n\nconst pluginRowsHtml = (r.plugins.plugins_to_update || []).length > 0\n  ? r.plugins.plugins_to_update.map(p =>\n      `<tr><td style=\"padding:8px 12px;border-bottom:1px solid #eee;\">${p.name}</td><td style=\"padding:8px 12px;border-bottom:1px solid #eee;color:#999;\">${p.current_version}</td><td style=\"padding:8px 12px;border-bottom:1px solid #eee;color:#28A745;font-weight:600;\">→ ${p.new_version}</td></tr>`\n    ).join('')\n  : '<tr><td colspan=\"3\" style=\"padding:8px 12px;color:#28A745;\">All plugins up to date ✅</td></tr>';\n\nconst missingLinksHtml = r.content.posts_missing_links_titles.length > 0\n  ? '<ul style=\"margin:8px 0;padding-left:20px;\">' + r.content.posts_missing_links_titles.map(t => `<li style=\"padding:4px 0;font-size:13px;color:#555;\">${t}</li>`).join('') + '</ul>'\n  : '<p style=\"color:#28A745;font-size:13px;\">All recent posts have internal links ✅</p>';\n\nconst gradeColor = r.health.grade === 'A' ? '#28A745' : r.health.grade === 'B' ? '#17A2B8' : r.health.grade === 'C' ? '#FFC107' : '#DC3545';\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;background:#f9f9f9;padding:20px;\">\n\n  <div style=\"background:linear-gradient(135deg,#1B2A4A,#2D4A7A);padding:28px 32px;border-radius:12px 12px 0 0;\">\n    <h1 style=\"color:white;margin:0;font-size:22px;\">ClearStack Studio</h1>\n    <p style=\"color:rgba(255,255,255,0.75);margin:4px 0 0;font-size:14px;\">WordPress Daily Health Report · ${r.date}</p>\n  </div>\n\n  <div style=\"background:white;padding:28px 32px;border-radius:0 0 12px 12px;box-shadow:0 2px 12px rgba(0,0,0,0.08);\">\n\n    <!-- Health Score -->\n    <div style=\"display:flex;align-items:center;gap:20px;margin-bottom:24px;padding:20px;background:#F8F9FA;border-radius:8px;\">\n      <div style=\"width:72px;height:72px;border-radius:50%;background:${gradeColor};display:flex;align-items:center;justify-content:center;flex-shrink:0;\">\n        <span style=\"color:white;font-size:32px;font-weight:800;\">${r.health.grade}</span>\n      </div>\n      <div>\n        <div style=\"font-size:28px;font-weight:700;color:#1B2A4A;\">${r.health.score}/100</div>\n        <div style=\"color:#666;font-size:14px;\">Health Score · Site: ${r.uptime.status}</div>\n      </div>\n    </div>\n\n    <!-- Alerts -->\n    <h3 style=\"color:#1B2A4A;margin:0 0 12px;font-size:16px;\">⚡ Alerts</h3>\n    ${alertsHtml}\n\n    <!-- Stats Row -->\n    <div style=\"display:grid;grid-template-columns:1fr 1fr 1fr;gap:12px;margin:24px 0;\">\n      <div style=\"text-align:center;padding:16px;background:#F8F9FA;border-radius:8px;\">\n        <div style=\"font-size:28px;font-weight:700;color:#1B2A4A;\">${r.content.total_published_posts}</div>\n        <div style=\"font-size:12px;color:#666;\">Published Posts</div>\n      </div>\n      <div style=\"text-align:center;padding:16px;background:#F8F9FA;border-radius:8px;\">\n        <div style=\"font-size:28px;font-weight:700;color:${r.plugins.updates_needed > 0 ? '#FFC107' : '#28A745'}\">${r.plugins.updates_needed}</div>\n        <div style=\"font-size:12px;color:#666;\">Plugin Updates</div>\n      </div>\n      <div style=\"text-align:center;padding:16px;background:#F8F9FA;border-radius:8px;\">\n        <div style=\"font-size:28px;font-weight:700;color:${r.content.posts_missing_internal_links > 3 ? '#FFC107' : '#28A745'}\">${r.content.posts_missing_internal_links}</div>\n        <div style=\"font-size:12px;color:#666;\">Posts Missing Links</div>\n      </div>\n    </div>\n\n    <!-- Plugin Updates -->\n    <h3 style=\"color:#1B2A4A;margin:20px 0 12px;font-size:16px;\">🔌 Plugin Status</h3>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px;\">\n      <thead><tr style=\"background:#F8F9FA;\">\n        <th style=\"padding:8px 12px;text-align:left;color:#666;\">Plugin</th>\n        <th style=\"padding:8px 12px;text-align:left;color:#666;\">Current</th>\n        <th style=\"padding:8px 12px;text-align:left;color:#666;\">Available</th>\n      </tr></thead>\n      <tbody>${pluginRowsHtml}</tbody>\n    </table>\n    ${r.plugins.updates_needed > 0 ? '<p style=\"font-size:12px;color:#999;margin-top:8px;\">⚠️ Update plugins manually in WP Admin → Plugins. Never auto-update on production.</p>' : ''}\n\n    <!-- Posts Missing Links -->\n    <h3 style=\"color:#1B2A4A;margin:20px 0 12px;font-size:16px;\">🔗 Posts Missing Internal Links</h3>\n    ${missingLinksHtml}\n    ${r.content.posts_missing_internal_links > 0 ? '<p style=\"font-size:12px;color:#999;\">WF10A runs daily at 2 AM to auto-insert links. Review Internal_Links_Log sheet for suggestions.</p>' : ''}\n\n    <!-- Quick Actions -->\n    <div style=\"margin-top:24px;padding:16px;background:#F0F4FF;border-radius:8px;\">\n      <h4 style=\"margin:0 0 8px;color:#1B2A4A;font-size:14px;\">🚀 Quick Actions</h4>\n      <p style=\"margin:0;font-size:13px;color:#555;\">\n        ${r.plugins.updates_needed > 0 ? '• <a href=\"https://clearstackstudio.com/wp-admin/plugins.php\" style=\"color:#1B2A4A;\">Update plugins →</a><br>' : ''}\n        • <a href=\"https://clearstackstudio.com/wp-admin/\" style=\"color:#1B2A4A;\">WP Admin →</a> &nbsp;\n        • <a href=\"https://clearstackstudio.com/wp-admin/edit.php\" style=\"color:#1B2A4A;\">All Posts →</a> &nbsp;\n        • <a href=\"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE\" style=\"color:#1B2A4A;\">View Sheets →</a>\n      </p>\n    </div>\n\n    <p style=\"margin-top:24px;font-size:12px;color:#aaa;text-align:center;\">ClearStack Studio · Automated Health Report · Alerts only, nothing was changed automatically</p>\n  </div>\n\n</body>\n</html>`;\n\nreturn [{ json: {\n  email_html: emailHtml,\n  subject: `${r.health.grade === 'A' ? '✅' : r.health.grade === 'B' ? '🟡' : '🚨'} ClearStack WP Health: ${r.health.grade} (${r.health.score}/100) · ${r.date}`,\n  has_alerts: r.health.alerts.length > 0,\n  is_critical: !r.uptime.online,\n  report: r\n}}];"
      },
      "id": "node_build_email",
      "name": "⚙️ Build HTML Email Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 580],
      "notes": "Builds a professional HTML email digest with health score, color-coded grade, plugin update table, missing links list, and quick action links to WP Admin."
    },

    {
      "parameters": {
        "fromEmail": "health@clearstackstudio.com",
        "toEmail": "YOUR_EMAIL@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.email_html }}"
      },
      "id": "node_send_email",
      "name": "📧 Send Daily Digest Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1280, 580],
      "notes": "SETUP: Configure SMTP in n8n Settings → Credentials → SMTP. Use Gmail App Password or Postmark (free 100 emails/month). Replace YOUR_EMAIL with your address."
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json.is_critical }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }]
        }
      },
      "id": "node_is_critical",
      "name": "🔀 Is Critical Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 580],
      "notes": "If site is DOWN, fires an immediate additional alert — doesn't wait for email. Routes to Telegram/WhatsApp for instant notification."
    },

    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ YOUR_TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"chat_id\": \"YOUR_TELEGRAM_CHAT_ID\",\n  \"text\": \"🚨 CRITICAL: ClearStack Studio is DOWN!\\n\\nhttps://clearstackstudio.com\\n\\nCheck your VPS immediately.\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "id": "node_telegram_alert",
      "name": "📱 Telegram — Critical Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1800, 480],
      "notes": "SETUP: (1) Message @BotFather on Telegram → /newbot → copy token. (2) Message @userinfobot → copy your chat_id. (3) Fill both values. Free forever. Only fires when site is DOWN."
    }

  ],
  "connections": {
    "⏰ Daily Health Check (6 AM)": {
      "main": [[
        { "node": "🌐 Check Site Uptime", "type": "main", "index": 0 },
        { "node": "🔌 Check Plugin Updates", "type": "main", "index": 0 },
        { "node": "📊 Check Post Stats", "type": "main", "index": 0 },
        { "node": "📝 Fetch Recent Posts for Link Check", "type": "main", "index": 0 }
      ]]
    },
    "🌐 Check Site Uptime": { "main": [[{ "node": "⚙️ Aggregate All Health Results", "type": "main", "index": 0 }]] },
    "🔌 Check Plugin Updates": { "main": [[{ "node": "⚙️ Aggregate All Health Results", "type": "main", "index": 0 }]] },
    "📊 Check Post Stats": { "main": [[{ "node": "⚙️ Aggregate All Health Results", "type": "main", "index": 0 }]] },
    "📝 Fetch Recent Posts for Link Check": { "main": [[{ "node": "⚙️ Aggregate All Health Results", "type": "main", "index": 0 }]] },
    "⚙️ Aggregate All Health Results": {
      "main": [[
        { "node": "📊 Log to WP_Health_Log Sheet", "type": "main", "index": 0 },
        { "node": "⚙️ Build HTML Email Digest", "type": "main", "index": 0 }
      ]]
    },
    "⚙️ Build HTML Email Digest": { "main": [[{ "node": "📧 Send Daily Digest Email", "type": "main", "index": 0 }]] },
    "📧 Send Daily Digest Email": { "main": [[{ "node": "🔀 Is Critical Alert?", "type": "main", "index": 0 }]] },
    "🔀 Is Critical Alert?": {
      "main": [
        [],
        [{ "node": "📱 Telegram — Critical Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "executionTimeout": 120 },
  "meta": { "description": "Workflow 10B: WordPress Health Monitor. Runs daily at 6 AM. Parallel checks: uptime ping, plugin update status, post count, recent posts missing internal links. Aggregates into health score (A-D grade). Sends beautifully formatted HTML email digest. Critical alerts (site down) fire Telegram message instantly. Never auto-changes anything — alerts only." }
}
